@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white !important;
    font-family: 'Playfair Display', serif!important; 
    background-color: #7b7b83 !important;  
    width: 100%;         
}
main{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;  
}

nav{
    background-color: #06191D; 
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --bs-navbar-padding-y: 0 !important;
}

#links{
    display: none;
}
#navLinks ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#navLinks a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
#navLinks a:hover{
    text-decoration: underline;
}
#logo{
    background: linear-gradient(90deg,#E00178, #FD2D01);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.6rem;
}
#hamburgerButton{
    display: none;
}
#cart, #searchIcon{
    background-color:#06191D;
    border:none;
    color: white;
    padding-right: 1rem;
    cursor: pointer;
}
#mainModal{
    display: flex;
    align-items: center;
}

#searchMain{
    display: none;
}

#aboutSection, #contactSection{
    height: 100vh;
}

#aboutSection{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 2rem;
}
#aboutSection .container{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    align-items: center;
}
#contactSection{
    background-color:#7b7b83;
}

dl, ol, ul {
    margin-bottom: 0 !important;
}

#displayProducts{
    max-width: max-content;
    margin: 0;
}
#displayProducts .row{
    margin: 2.5rem auto 1rem auto;
}
#displayProducts .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    box-shadow: 0 2px 5px #aa9eb4;
    background-color: #8860D0;
    margin: .5rem;
    width: 18rem;
}

#contactButton{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
#contactButton button {
    display: flex;
    justify-content: end;
}

#contact{
    border:none;
    color: white;
    background-color:inherit;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.3rem;
}

#contactForm h3{
    text-align: center;
}

#contactForm{
    width: 40%;
}

p {
    margin-bottom: 0!important;
    color: white;
}

table{
    width: 60rem;
    text-align: center;
}
#display img{
    width: 5rem;
    height: 5.5rem;
}
#newPost div{
    display: flex;
    flex-direction: column;
    }


table, th, td {
    border: .1rem solid white;
}

td{
word-wrap: break-word;
width: 200px;
}
#cartProducts, #summaryPricing{
    background-color: bg;
}
#quantityform{
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: .3rem;
}
.qty {
    width: 2rem;
    height: 25px;
    text-align: center;
}

input.plus { 
    width:1.8rem; 
    height:1.8rem;
}
input.minus { 
    width:1.8rem; 
    height:1.8rem;
}
#cartDltBtn{
    border: none; 
    background-color: transparent;
    margin: .8rem;
}
#cartDltBtn:hover{
    text-decoration: underline;
}

footer{
    background-color: #06191D;  
    font-size: .8rem;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    padding: .8rem;
    text-align: center;
}

@media screen and (max-width: 620px){
	#hamburgerButton{
        display: initial;
    }
    #hamburger{
        background-color:#06191D;
        border:none;
        color: white;
        padding-left:1rem;
        cursor: pointer;
    }
    #navLinks{
        display:none;
    }
    #searchNav{
        display: none;
    }
    #searchMain{
        display: initial;
    }

    #links.show{
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        padding: 1.5rem 2rem 2rem 2rem;
        gap: 1rem;
    }
    #links a{
        color: #aa9eb4;
        text-decoration: none;
    }
    

    #contactForm div{
        width: 100% !important;
    }

}
@media screen and (max-width: 750px){
    #logo{
        font-size: 1.5rem;
    }
    #contactForm{
        width: 100%;
    }
    #navLinks{
        font-size: .8rem;
    }
    #searchNav{
        display: none;
    }
    #searchMain{
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
    }
    #searchMain button{
        background-color: #1D1B26;
        margin-left:.3rem;
    }
    #cartDisplayProducts li{
        display: flex;
        flex-direction: column;
    }
    #checkout {
        display: flex;
        flex-direction: column;
    }
    
}
