@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white !important;
    font-family: 'Playfair Display', serif!important; 
    background-color: #1D1B26 !important;  
    width: 100%;  
    min-height: 100vh; 
    display: flex;
    flex-direction: column;               
}

nav{
    background-color: #06191D; 
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links{
    display: none;
}
#nav_links ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#nav_links a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
#nav_links a:hover{
    text-decoration: underline;
}
#logo{
    background: linear-gradient(90deg,#E00178, #FD2D01);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.6rem;
}
#hamburgerButton{
    display: none;
}
#cart, #searchIcon{
    background-color:#06191D;
    border:none;
    color: white;
    padding-right: 1rem;
    cursor: pointer;
}
#searchMain{
    display: none;
}
#aboutSection, #contactSection{
    height: 100vh;
}
#contactSection{
    background-color:aqua;
}

dl, ol, ul {
    margin-bottom: 0 !important;
}

#displayProducts{
    max-width: max-content;
    margin: 0;
}
#displayProducts .row{
    margin: 2.5rem auto 1rem auto;
}
#displayProducts .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    box-shadow: 0 2px 5px #aa9eb4;
    background-color: #8860D0;
    margin: .5rem;
    width: 18rem;
}

#contactButton{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
#contactButton button {
    display: flex;
    justify-content: end;
}
#contact{
    border:none;
    color: white;
    background-color: #1D1B26;
    padding: 1rem 2rem;
    cursor: pointer;
}
#contactForm h3{
    text-align: center;
}

#contactForm{
    width: 40%;
}

p {
    margin-bottom: 0!important;
    color: white;
}

table{
    width: 60rem;
    text-align: center;
}

table, th, td {
    border: .1rem solid white;
}

td{
word-wrap: break-word;
width: 200px;
}
#cartProducts, #summaryPricing{
    border: 1px solid aqua;
    background-color: bg;
}

footer{
    background-color: #06191D;  
    font-size: .8rem;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    padding: .8rem;
    text-align: center;
}

@media screen and (max-width: 620px){
	#hamburgerButton{
        display: initial;
    }
    #hamburger{
        background-color:#06191D;
        border:none;
        color: white;
        padding-left:1rem;
        cursor: pointer;
    }
    #nav_links{
        display:none;
    }
    #searchNav{
        display: none;
    }
    #searchMain{
        display: initial;
    }

    #links.show{
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        padding: 1.5rem 2rem 2rem 2rem;
        gap: 1rem;
    }
    #links a{
        color: #aa9eb4;
        text-decoration: none;
    }

    #contactForm div{
        width: 100% !important;
    }

}
@media screen and (max-width: 750px){
    #logo{
        font-size: 1.5rem;
    }
    #contactForm{
        width: 100%;
    }
    #nav_links{
        font-size: .8rem;
    }
    #searchNav{
        display: none;
    }
    #searchMain{
        display: initial;
    }
    
}
